<% provide(:title, 'Home') %>
 <h1>CERT-116 System</h1> 
    <p>
      CERT-116 (Exempt Petroleum Products Certificate) Data Entry and Management System
      This is the home page for my new app.
    </p>
